<article class="listing small-11 small-centered columns">

  <h3>{{#link-to "libraries.show" library}}{{library.name}}{{/link-to}}</h3>
  <img src='../../assets/images/flywheelibrary.jpg' class="library-photo"/>

</article>
{{yield}}
