<article class="listing">
  <h3>{{#link-to "zines.show" zine}}{{zine.title}}{{/link-to}}</h3>
  <div>
    <span>Creator:</span> {{zine.creator}}
    <span>Libraries:</span> {{zine.library_id}}
  </div>

</article>
{{yield}}
