@import url('foundation.min.css');
* {
  font-family: 'Proza Libre';
}

.welcome-img {
  /*position: relative;*/
  width: 100%;
  height: 100%;
  margin: 40px 15px 0px 0px;
}

.aside-img-1 {
  position: relative;
  max-width: 100%;
  height: 250px;
  margin: 0px 20px 5px 20px;
}
.aside-img-2 {
  position: relative;
  /*max-width: 100%;*/
  height: 250px;
  /*margin-top: 55px;*/
  /*max-height: 100%;*/
  margin: 0px 10px 20px 20px;
  /*margin: 20px;*/
}

.column, .columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Cormorant Garamond';
}

a {
  text-decoration: none;
  color: #3D314A;
}

.menu {
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu, .nav-links a  {
  padding: 10px;
  border-radius: 3px;
  background-color: #855085;
  color: white;
  text-align: right;
}

a:hover {
  color: rgb(184, 240, 255);
}

.nav-links li, a {
  display: inline;
  list-style: none;
  padding: 1%;
  text-decoration: none;
}

.nav-link li a:hover {
  background-color: red;
}

.light {
  border: 1px solid rgb(107, 40, 175);
  max-width: 50%;
  margin: 0 auto;
}

/*.homepage-listing {
  text-align: center;
  max-width: 100%;
}*/

.listing {
  /*display: table;*/
  margin: 5%;
  /*padding: 5%;*/
  /*border-radius: 4px;
  border: 5px solid black;
  outline: 5px solid #e3e3e3;*/
  max-width: 97%;
}

.listing-cell {
  display: table-cell;
  vertical-align: middle;
  /*border-top: 1px black solid;*/

}



.photo-placeholder {
  background-color: grey;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.listing h6 {
  text-align: center;
}

.zine-metadata {
  list-style-type: none;
}

.results {
  list-style: none;
}

.zine-headings a, h4, span{
  font-family: 'Cormorant Garamond';
  text-align: center;
  margin: 15px;
  display: block;
}

.library-photo {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
}

.zine-photo {
  display: block;
}

h6 {
  text-align: center;
}


/*.associated-library {
  margin: 10px;

}*/
/* style for entire div: .list-filter {
  border-radius: 5px;
  border: 4px solid red;
  max-width: 50%;
}*/

/*To Use for INDEX CSS w/o images*/

/*.welcome h1 {
  display: inline;
  position: absolute;
  text-align: left;
  float: left;
  top: 300px;
  bottom: 0;
  color: white;
  margin-left: 30px;
  width: 100%;
  padding: 2px;
}
.welcome span {
  background: rgba(0, 0, 0, 0.7);
  letter-spacing: -1px;
   padding: 7px;
}
#browse {
  display: block;
  position: absolute;
  text-align: left;
  float: left;
  top: 230px;
  bottom: 0;
  color: white;
  margin-left: 30px;
  /*width: 100%;
}*/

/*#browse-2 {
  display: block;
  position: absolute;
  text-align: left;
  float: left;
  top: 400px;
  bottom: 0;
  color: white;
  margin-left: 30px;
  background-color:
}*/
/*.side-section span {
  background: rgba(0, 0, 0, 0.7);
  letter-spacing: -1px;
  padding: 7px;
  margin-left: 5px;
}*/


/*.view-all {
  /*display: block;*/
  /*top: 200px;
  bottom: 0;
  margin-right: 10px;*/
  /*color: white;*/
  /*margin-left: 30px;*/
  /*position: absolute;*/
  /*float: right;
}*/