@import url('foundation.min.css');
* {
  font-family: 'Proza Libre';
}

.column, .columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

h1, h2 {
  text-align: center;
  font-family: 'Cormorant Garamond';
}

a {
  text-decoration: none;
}

.menu, .nav-links a  {
  padding: 10px;
  border-radius: 3px;
  background-color: #855085;
  color: white;
  text-align: right;
}

a:hover {
  color: rgb(184, 240, 255);
}

.nav-links li, a {
  display: inline;
  list-style: none;
  padding: 1%;
  text-decoration: none;
}

.nav-link li a:hover {
  background-color: red;
}

.light {
  border: 1px solid rgb(107, 40, 175);
  max-width: 50%;
  margin: 0 auto;
}

/*.homepage-listing {
  text-align: center;
  max-width: 100%;
}*/

.listing {
  /*display: table;*/
  margin: 5%;
  /*padding: 5%;*/
  /*border-radius: 4px;
  border: 5px solid black;
  outline: 5px solid #e3e3e3;*/
  max-width: 97%;
}

.listing-cell {
  display: table-cell;
  vertical-align: middle;
}

.photo-placeholder {
  background-color: grey;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.listing h6 {
  text-align: center;
}

.zine-metadata {
  list-style-type: none;
}

.results {
  list-style: none;
}
/* style for entire div: .list-filter {
  border-radius: 5px;
  border: 4px solid red;
  max-width: 50%;
}*/