<article>
  <h2>Current Catalog</h2>
  <p>Here are our current zines in the collection, from across various libraries.</p>

  {{#each model as |zineItem|}}
  {{zine-listing zine=zineItem}}
  {{/each}}

  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</article>

<h1> List filter </h1>

{{#list-filter
   filter=(action 'filterByTitle')
   as |zines|}}
  <ul class="results">
    {{#each zines as |zineItem|}}
      <li>{{zine-listing zine=zineItem}}</li>
    {{/each}}
  </ul>
{{/list-filter}}


{{outlet}}
