<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Zine Dream Catalog</h2>
  <p>
    The Zine Dream Catalog is a web app developed during as Dianne's month-long capstone project for Ada Developers' Academy.

  </p>

  {{#link-to 'contact' class="button"}}
    Contact the Team
  {{/link-to}}
</div>

{{outlet}}
