<div class="container">
  <div class="menu">
    <ul class="nav-links">
			{{#link-to 'index'}}
	        <li>Home</li>
	    {{/link-to}}
			{{#link-to 'zines'}}
					<li>Zine Catalog</li>
			{{/link-to}}
      {{#link-to 'about'}}
        <li>About</li>
      {{/link-to}}
      {{#link-to 'contact'}}
        <li>Contact</li>
      {{/link-to}}
    </ul>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
