<article class="small-10 small-centered columns">
<h2>Contact Us</h2>
<p>Have questions about zines, zine libraries, cataloging? Or have questions about contributing to the Zine Dream Catalog Project? You've come to the right place!</p>
<p>The Zine Dream Project is a labor of love/required capstone project developed by Dianne Laguerta during their time at the Ada Developers Academy in Seattle, WA. This project is an experimental app that explores the idea of a Union Catalog for zines and zine libraries accross the globe. </p>
<p>If you're a developer with an interest in zines, feel free to check out the source code on Github.</p>
<img src='../../assets/images/about-img-zf.jpg'/>
<p>In addition, the Zine Union Catalog project is an ongoing endeavor by zine librarians, zine enthusiasts, and programmers around the world. If you are a zine librarian and want to be involved in the project outside the scope of this small app, please get in touch with the organizing body.</p>
<p>
    To Get in touch with Dianne:
    <a href="mailto:superrentalsrep@emberjs.com">zinesters@emberjs.com</a>
  </p>
  {{#link-to 'about' class="button"}}
  Learn More
{{/link-to}}
</article >

{{outlet}}
