<div>
<h2>Contact Us</h2>
  <p>The Zine Dream Catalog Project is an ongoing endeavor by zine librarians, zine enthusiasts, and programmers around the world.</p>
  <p>
    To Get in Touch:
    <a href="mailto:superrentalsrep@emberjs.com">zinesters@emberjs.com</a>
  </p>
  {{#link-to 'about' class="button"}}
  Learn More
{{/link-to}}
</div>

{{outlet}}
