<div class="row">
<article class="welcome">
  <div class="welcome large-7 columns">
    <img src='../../assets/images/unnamed.jpg' class='welcome-img'/>
    <h1> <span>Welcome To<br />the Zine Union Catalog</span> </h1>
  </div>
</article>

<div class="large-5 columns">
<img src='../../assets/images/zine-rack-home.jpg' class="aside-img"/>

<!-- <div class="row view-all "> -->
  <h1 class="welcome">Browse the Collection</h1>
<!-- </div> -->

<!-- <aside class="row about-project "> -->

  <h1 class="welcome"> Learn More About the Project </h1>
<!-- </aside> -->
</div>

</div>

{{outlet}}
