<div class="row">
<article class="welcome">
  <div class="welcome large-7 columns">
    <img src='../../assets/images/zine-rack-home.jpg' class='welcome-img'/>
    <h1> <span>Welcome To<br />the Zine Union Catalog</span> </h1>
  </div>
</article>

<div class="large-4 columns end">


<aside class="row view-all ">
  <h1>Browse the Collection</h1>
</aside>

<aside class="row about-project ">
  <h2> Learn More About the Project </h2>
</aside>
</div>

</div>

{{outlet}}
