<div class="row">
<!-- <article class="welcome"> -->
  <div class="welcome large-7 columns">
    <img src='../../assets/images/welcome-img.png' class='welcome-img'/>
    <!-- <h1><span>Welcome To<br/>The Zine Dream Catalog</span></h1> -->
  </div>
<!-- </article> -->

<div class="side-section large-5 columns">
  <aside class="row">
    <img src='../../assets/images/catalog-img.png' class="aside-img-1 large-12 columns"/>

    <!-- <h1 class="side-section" id="browse"><span>Browse the Collection</span></h1> -->
  </aside>


  <aside class="row">
    <img src='../../assets/images/about-img.png' class="aside-img-2 large-12 columns"/>

    <!-- <h1 class="side-section" id="browse-2"><span>About The Project</span></h1> -->

  </aside>
</div>


</div>

{{outlet}}
