<div class="row">
  <div class="welcome large-7 columns">
    <img alt="welcome image of a spread of zines" src='../../assets/images/welcome-img.png' class='welcome-img'/>

  </div>

<div class="side-section large-5 columns">
  <aside class="row">
    {{#link-to "zines"}}<img alt="image of a rack filled with mini-zines, linking to the entire collection" src='../../assets/images/catalog-img.png' class="aside-img-1 large-12 columns"/>{{/link-to}}
  </aside>

  <aside class="row">
    {{#link-to "about"}}<img alt="image of a typewriter linked to the About Page" src='../../assets/images/about-img.png' class="aside-img-2 large-12 columns"/>{{/link-to}}
  </aside>

</div>


</div>

{{outlet}}
