<div class="row">
<article class="welcome">
  <div class="welcome-text large-6 columns">
    <h1> Welcome To the Zine Union Catalog </h1>
  </div>
</article>

<div class="large-4 columns end">


<aside class="row view-all ">
  <h1>Browse the Collection</h1>
</aside>

<aside class="row about-project ">
  <h2> Learn More About the Project </h2>
</aside>
</div>

</div>

{{outlet}}
